[Unit]
Description=node server

[Service]
ExecStart=/usr/bin/node /opt/node/test/sock-server.js
User=weigu
Group=weigu
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/opt/node/test
