[Unit]
Description=node server

[Service]
ExecStart=/usr/bin/node /opt/node/test/app.js
Restart=always
User=weigu
Group=weigu
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/opt/node/test
[Install]
WantedBy=multi-user.target